<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>STRAVA Achievements</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<nav>
		<ul class="topnav">
			<li id="title"><a href="#">STRAVA Achievements</a></li>
			<li><a href="/users/auth/strava">Login</a></li>
		</ul>
	</nav>
	
	<div class="grid-container">
		<div class="header">
			<!-- placeholder  -->
		</div>
		<div class="left">
			<!-- placeholder  -->
		</div>
		<div class="center">
			<h1>About</h1>
			<p>This web application allows you to view your Strava best efforts from all running activities.</p>
			<br>
			<ol class="instructions">
				<li>
					Login and navigate to your <b>Profile</b> page.
				</li>
				<br>
				<li>
					Press on the <b>Update Activities</b> button to pull your runs from the strava website.
				</li>
				<br>
				<li>
					Navigate back to the <b>Profile</b> page and press the <b>Update Best Efforts</b> button to pull your best efforts from each activity.
				</li>
				<br>
				<li>
					Navigate to the <b>Best Efforts</b> page and you should be able to view your Personal Records!
				</li>
			</ol>
		</div>
		<div class="right">
			<!-- placeholder  -->
		</div>
	</div>
</body>
</html>