<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update</title>

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<nav>
		<ul class="topnav">
			<li id="title"><a href="#">STRAVA Achievements</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/updatebestefforts">Update</a></li>
			<li><a href="/bestefforts">Best Efforts</a></li>
			<li><a href="/users/auth/logout">Logout</a></li>
		</ul>
	</nav>
	
	<div class="grid-container">
		<div class="header">
			<!-- placeholder  -->
		</div>
		<div class="left">
			<!-- placeholder  -->
		</div>
		<div class="middle">
			<h1>Update</h1>
			<p>You have successfully updated your activities from Strava!</p>
		</div>
		<div class="right">
			<!-- placeholder  -->
		</div>
	</div>
</body>
</html>