.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'left left center center right right';
}

.header {
	grid-area: header;
	height: 10vh;
}

.left {
	grid-area: left;
	width: 10vw;
}

.center {
	text-align: center;
	grid-area: center;
	background-color: white;
	border-radius: 10px;
	height: 60vh;
	padding: 10vh;
	overflow: scroll;
}

.right {
	grid-area: right;
	width: 10vw;
}

@media (max-width: 600px) {
	.grid-container  {
	  grid-template-areas: 
		'header header header header header header' 
		'left left left left left left' 
		'center center center center center center' 
		'right right right right right right' 
		'footer footer footer footer footer footer';
	}

	.header {
		height: 30vh;
	}

	.center {
		overflow: scroll;
		padding: 10px;
		height: 60vh;
	}
  }