.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'left left center center right right';
}

.header {
	grid-area: header;
	height: 10vh;
}

.left {
	grid-area: left;
	width: 20vw;
}

.center {
	text-align: center;
	width: 50vw;
	grid-area: center;
	background-color: white;
	border-radius: 10px;
	height: 60vh;
	padding: 10vh;
}

.right {
	grid-area: right;
	width: 20vw;
}