.grid-container {
	display: grid;
	grid-template-areas: 
	  'header header header header header header' 
	  'left left middle middle right right' 
	  'footer footer footer footer footer footer';
	/* grid-column-gap: 10px; - if you want gap between the columns */
  } 

.header {
	grid-area: header;
	height: 10vh;
}

.left {
	width: 33vw;
	grid-area: left;
}

.center {
	grid-area: middle;
	text-align: center;
}

.instructions li {
	text-align: left;
	margin-left: 60px;
	margin-right: 60px;
}

.right {
	width: 33vw;
	grid-area: right;
}

@media (max-width: 600px) {
	.grid-container  {
	  grid-template-areas: 
		'header header header header header header' 
		'left left left left left left' 
		'center center center center center center' 
		'right right right right right right' 
		'footer footer footer footer footer footer';
	}

	.header {
		height: 40vh;
	}
  }