.grid-container {
	display: grid;
	grid-template-areas: 
	  'header header header header header header' 
	  'left left middle middle right right' 
	  'footer footer footer footer footer footer';
	/* grid-column-gap: 10px; - if you want gap between the columns */
  } 

.header {
	grid-area: header;
	height: 10vh;
}

.left {
	width: 33vw;
	grid-area: left;
}

.middle {
	grid-area: middle;
}

.middle {
	text-align: center;
}

.right {
	width: 33vw;
	grid-area: right;
}

@media (max-width: 600px) {
	.grid-container  {
	  grid-template-areas: 
		'header header header header header header' 
		'left left left left left left' 
		'middle middle middle middle middle middle' 
		'right right right right right right' 
		'footer footer footer footer footer footer';
	}
  }