.grid-container {
	display: grid;
	grid-template-areas: 
	'header header header header header header'
	'left left center center right right';
}

.header {
	grid-area: header;
	height: 10vh;
}

.left {
	grid-area: left;
	width: 33vw;
}

.center {
	text-align: center;
	width: 33vw;
	grid-area: center;
	background-color: white;
	border-radius: 10px;
	height: 80vh;
}

.right {
	grid-area: right;
	width: 33vw;
}

img {
	border-radius: 10px;
}

button {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: rgba(211, 112, 0, 0.863);
}

button a {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

button:hover {
	background-color: whitesmoke;
}

@media (max-width: 600px) {
	.grid-container  {
	  grid-template-areas: 
		'header header header header header header' 
		'left left left left left left' 
		'center center center center center center' 
		'right right right right right right' 
		'footer footer footer footer footer footer';
	}

	.header {
		height: 40vh;
	}

	.center {
		overflow: hidden;
		margin: 10vw;
		width: 80vw;
		height: 30vh;
	}
  }